---
export function getStaticPaths() {
  return [
  { params: { post: '1' } },
      { params: { post: '2' } },
      { params: { post: '3' } },
    ]
  
}
const { post } = Astro.params;
---
<div>{post}</div>