$gradientMorpheusDen: linear-gradient(to top, #30cfd0 0%, #330867 100%);

.gradientChemicAqua {
  background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
}




  .logo img{
    height: 9vh;
    width: auto;
  }

 img{
    width: 100%;
    height: auto;
 }


  /* Main content */
  body {
    margin: 0 0 0 0; /* Add a top margin to avoid content overlay */
  }

  p{
    font-size: 1.125em;
    line-height: 1.25em;
    padding: 0 0 .25em 0;
  }

h1,h2,h3,h4,h5,h6,p{
    padding: 20px 0 0 0;
}
  

  .btn {
    width: 100%;
  }

  .btn:hover {
    background-color: #3b0aef;
    color: rgb(180, 179, 183);
  }

  .btn:focus {
    background-color: #3b0aef;
    color: rgb(180, 179, 183);
  }

  .nav-link{
    color: #fff !important;
    font-size: 1.3rem !important;
    font-weight: 400 !important;

  }

  .navbar-toggler-icon{
    color: #fff !important;
  }

  .navbar-toggler{
    border-color: #fff !important;
  }

  .nav-link:hover{
    color: #6297DB !important;
    text-decoration: double underline;
  }

  .container {
    background-image: linear-gradient(225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  }

  .hero{
    background-image: url("/images/Techshipfortechan.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .cardX {
    background-color: white;
    border: 1px solid black;
    border-radius: .25rem;
    padding: .5rem;
    transform: translateX(100px);
    opacity: 0;
    transition: 150ms;
  }

  .cardX.show
  {
    transform: translateX(0);
    opacity: 1;
  }