---
import BaseLayout from "../layouts/BaseLayout.astro";
const posts = await Astro.glob('../pages/*/*.md');

---
  <BaseLayout title="Home Page">
    <h1>Push for it, Push forward, Push for IT</h1>
    {posts.map(post => <li><a href={post.frontmatter.slug}>{post.frontmatter.title}</a></li>)}
  </BaseLayout>
  