---
import BaseLayout from "../layouts/BaseLayout.astro";
const posts = await Astro.glob("../content/*.md");
import Card from "../components/Card.jsx";
---

<BaseLayout title="Home Page">
  <div class="hero">
    <h1>Push for it, Push forward, Push for IT</h1>
  </div>
  <div class="container px-0">
    <div class="row">
      <h2>Welcome to my web development portfolio!</h2>
      <h3>Hi, I'm Kyle</h3>
            <p>Introducing the maestro of web development, where human creativity meets cutting-edge technology. I bring a unique fusion of graphic design and marketing expertise to deliver visually stunning and user-friendly websites that leave a lasting impression. With an unwavering passion for open-source software, I am committed to contributing to the community and staying ahead in the ever-evolving digital landscape.</p>

            <p> Explore my portfolio and experience the synergy of creativity, functionality, and accessibility that elevates your digital projects to new heights. Join forces with a winning team and let's conquer the online world together.
              </p>
    </div>

    <div class="row">
      <div class="col-md-9">
        <p>
          I am an experienced web developer with the confident in my ability to
          build, maintain, & deliver top-quality web development services to my
          clients and businesses of all sizes.
        </p>
        <div class="row">
          <div class="row py-3">
            <div class="col-md-4 col-4">
              <a class="btn btn-primary" href="">Code Pen</a>
            </div>
            <div class="col-md-4 col-4">
              <a class="btn btn-primary" href="">My Work</a>
            </div>
            <div class="col-md-4 col-4">
              <a class="btn btn-primary" href="/webdev">Case Studies</a>
            </div>
          </div>
          <div class="row py-3">
            <div class="col-md-4 col-4">
              <a class="btn btn-primary" href="">My Github</a>
            </div>
            <div class="col-md-4 col-4">
              <a class="btn btn-primary" href="">My LinkedIn</a>
            </div>
            <div class="col-md-4 col-4">
              <a class="btn btn-primary" href="">StackBlitz</a>
            </div>
          </div>
        </div>
        <p>
          Are you searching for a skilled web developer you can count on to
          bring your ideas to reality? Look no further! I'd love to chat with
          you about bringing your project specifics to life with my skills and
          expertise. Let's make it happen!
        </p>
      </div>
      <div class="col-md-3">
        <img src="/images/happyface.png" alt="logo" />
      </div>
      <!-- <div class="row">
        {posts.map(post => <li><a href={post.frontmatter.slug}>{post.frontmatter.title}</a></li>)}
      </div> -->
    </div>

    <div class="row">
      <div class="row">
        <Card
          description="cause I wont stop now"
          bodyText="You can hate now"
          link="/"
          postPic="https://www.bluebrothersdesigns.com/wp-content/uploads/2021/12/cropped-Asset-1@1.png"
        />
        <Card
          description="cause I wont stop now"
          bodyText="You can hate now"
          link="/"
          postPic="https://www.bluebrothersdesigns.com/wp-content/uploads/2021/12/cropped-Asset-1@1.png"
        />
        <Card
          description="cause I wont stop now"
          bodyText="You can hate now"
          link="/"
          postPic="https://www.bluebrothersdesigns.com/wp-content/uploads/2021/12/cropped-Asset-1@1.png"
        />
      </div>
      <div class="row">
        <Card
          description="cause I wont stop now"
          bodyText="You can hate now"
          link="/"
          postPic="https://www.bluebrothersdesigns.com/wp-content/uploads/2021/12/cropped-Asset-1@1.png"
        />
        <Card
          description="cause I wont stop now"
          bodyText="You can hate now"
          link="/"
          postPic="https://www.bluebrothersdesigns.com/wp-content/uploads/2021/12/cropped-Asset-1@1.png"
        />
        <Card
          description="cause I wont stop now"
          bodyText="You can hate now"
          link="/"
          postPic="https://www.bluebrothersdesigns.com/wp-content/uploads/2021/12/cropped-Asset-1@1.png"
        />
      </div>
      <div class="row">
        <div class="card-container">
          <div class="cardX show">This is a card</div>
          <div class="cardX">This is also a card</div>
          <div class="cardX">Card Third Sr</div>
          <div class="cardX">CatDog</div>
          <div class="cardX">Hog Rider</div>
          <div class="cardX">Drunken King</div>
          <div class="cardX">CyberBear</div>
          <div class="cardX">The Head</div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<script src="../scripts/script.js"></script>