<footer class="bg-dark p-2 bg-dark">
    <div>
        <p>©2023 - This site is developed and maintained by <a href="https://bluebrothesdesigns.com" target="_blank">Blue Brothers Designs</a></p>
    </div>
</footer>